<div
  class="flex flex-col h-full bg-white border-r dark:border-[#1D1D1F] transition-all dark:bg-[#1D1D1F]"
>
  <!-- Header -->
  <div
  class="flex items-center gap-3 p-5 cursor-pointer mx-2"
  (click)="toggleSidebar()"
>
<i class="fa-solid fa-house text-xl"></i>
  <span
    [ngClass]="isCollapsed ? 'hidden' : 'block'"
    class="text-xl font-bold text-gray-800 dark:text-white whitespace-nowrap"
  >
    <p>Magistrate Court</p>
    <p>Colombo Branch</p>
  </span>
</div>

  <!-- Dynamic Menu -->
  <div class="flex-1 overflow-y-auto scrollbar-none dark:bg-[#1D1D1F]">
    <ul class="space-y-1  pb-4 pt-2">
      <ng-container *ngFor="let item of menuItems">
        <li
          class="flex flex-row items-center gap-4 p-3 rounded-lg cursor-pointer hover:bg-[#EDF5FC] group"
          [ngClass]="{ 'bg-[#EDF5FC]': isTabSelected(item.key) }"
          (click)="navigate(item.path, item.key)"
        >
          <i
            [class]="item.icon + ' text-xl px-2'"
            [ngClass]="{
              'text-[#415CFF]': isTabSelected(item.key),
              'text-[#6B6B6B] dark:text-white': !isTabSelected(item.key),
              'group-hover:text-[#415CFF] dark:group-hover:text-[#272F45]': true
            }"
          ></i>
          <span
            [ngClass]="{
              hidden: isCollapsed,
              'text-[#415CFF]': isTabSelected(item.key),
              'text-[#6B6B6B] dark:text-white': !isTabSelected(item.key),
              'group-hover:text-[#415CFF] dark:group-hover:text-[#272F45]': true
            }"
            class="text-[16px] font-normal"
          >
            {{ item.label }}
          </span>
        </li>
      </ng-container>
    </ul>
  </div>

</div>
